* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

#root {
  font-family: "Afacad", "Roboto", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: center;

  margin: 0 auto;
  height: 100%;
}
