.mainWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: calc(100vh - 100px);
}

.editor {
  position: relative;
  display: flex;
  flex: 1;
  max-height: calc(100% - 47.5px);
  background-color: rgb(28, 28, 28);
}
