.developers {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 15px;

  height: 100%;
  .title {
    text-align: left;
    font-size: 8vw;
    margin: 0;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 30px;

    height: 100%;
  }
}

@media (max-width: 980px) {
  .developers {
    .title {
      text-align: center;
    }
    .list {
      justify-content: center;

      gap: 30px;
    }
  }
}
