.welcome {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  gap: 15px;

  height: 92vh;
  .title {
    font-size: 10vw;
    text-transform: uppercase;
    color: black;

    margin: 0;
  }
  .subtitle {
    font-size: 3vh;
    color: #888888;

    margin: 0;
  }
  .links {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    gap: 20px;
  }
  .btn {
    cursor: pointer;

    font-weight: 700;
    text-decoration: none;

    color: white;
    background-color: #222222;

    border-radius: 8px;

    padding: 10px 15px;

    transition: 0.4s;
    &:hover {
      transform: scale(1.05);
      box-shadow: 5px -5px 3px -1px rgba(34, 60, 80, 0.55);
    }
    &:active {
      transform: scale(0.95);
    }
  }
}

@media (max-width: 650px) {
  .welcome {
    .subtitle {
      font-size: 4.5vw;
      color: #888888;

      margin: 0;
    }
  }
}
